@font-face 
	font-family: 'Quicksand'
	src: url('./fonts/9261.eot')
	src: local('☺'), url('./fonts/9261.woff') format('woff'), url('./fonts/9261.ttf') format('truetype'), url('./fonts/9261.svg') format('svg')
