$all-document-text-color: #1F2041
$dark-shade-total: 100%
$dark-shade-almost-total: 75%
$dark-shade-half: 50%
$dark-shade-quater: 25%
$dark-shade-light: 5%
$purple: #BC9CFF
$green: #6FCF97

.header-one
  font-family: Quicksand
  font-size: 24px
  font-weight: bold
  line-height: 30px

.header-two
  font-family: Quicksand
  font-size: 19px
  font-weight: bold
  line-height: 24px

.header-three
  font-family: Montserrat
  font-size: 12px
  font-weight: bold
  line-height: 15px

.text-standart
  font-family: Montserrat
  font-size: 14px
  line-height: 24px