@import ./_variables
@import ./_fonts
  
body
  width: 1440px
  height: 900px
  margin: 0 auto
  display: grid
  grid-template-columns: 150px 1fr 191px
  grid-template-rows: 145px 1fr 145px
  color: $all-document-text-color

.wrapper
  grid-column: 2/3
  grid-row: 2/3
  display: grid
  grid-template: repeat(7,1fr) / repeat(2, 1fr)
  grid-auto-flow: column
  grid-row-gap: 20px

.TCAS-cont
  display: flex

.TCAS-cont--to-the-right
  justify-self: end

.TCAS-cont__left

.TCAS-cont__left__square
  height: 70px
  width: 70px
  border-radius: 6px
  background-color: $all-document-text-color

.TCAS-cont__left__text-block
  background: #bdc3c7
.TCAS-cont__right
  
  background: #bdc3c7
.TCAS-cont__right__title
  
.TCAS-cont__right__text
  font-weight: 400
  
.dark-shade-total
  opacity: $dark-shade-total

.dark-shade-almost-total
  opacity: $dark-shade-almost-total

.dark-shade-half
  opacity: $dark-shade-half
  
.dark-shade-quater
  opacity: $dark-shade-quater

.dark-shade-light
  opacity: $dark-shade-light

.purple
  background: $purple

.green
  background: $green