@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/montserrat/bold700/Montserrat-Bold.eot");
  src: local("☺"), url("./fonts/montserrat/bold700/Montserrat-Bold.woff") format("woff"), url("./fonts/montserrat/bold700/Montserrat-Bold.ttf") format("truetype"), url("./fonts/montserrat/bold700/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/montserrat/regular400/Montserrat-Regular.eot");
  src: local("☺"), url("./fonts/montserrat/regular400/Montserrat-Regular.woff") format("woff"), url("./fonts/montserrat/regular400/Montserrat-Regular.ttf") format("truetype"), url("./fonts/montserrat/regular400/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url("./fonts/quicksand/bold700/Quicksand-Bold.eot");
  src: local("☺"), url("./fonts/quicksand/bold700/Quicksand-Bold.woff") format("woff"), url("./fonts/quicksand/bold700/Quicksand-Bold.ttf") format("truetype"), url("./fonts/quicksand/bold700/Quicksand-Bold.svg") format("svg");
  font-weight: 700;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url("./fonts/quicksand/regular400/quicksand-Regular.eot");
  src: local("☺"), url("./fonts/quicksand/regular400/Quicksand-Regular.woff") format("woff"), url("./fonts/quicksand/regular400/Quicksand-Regular.ttf") format("truetype"), url("./fonts/quicksand/regular400/Quicksand-Regular.svg") format("svg");
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.body-head1 {
  font-family: Quicksand;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.body-head2 {
  font-family: Quicksand;
  font-size: 19px;
  font-weight: bold;
}

.body-head3 {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
}

.body-standart {
  font-family: Montserrat;
  font-size: 14px;
}

body {
  width: 1440px;
  height: 900px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr 191px;
      grid-template-columns: 150px 1fr 191px;
  -ms-grid-rows: 145px 1fr 145px;
      grid-template-rows: 145px 1fr 145px;
  color: #1F2041;
}

.wrapper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
  -ms-grid-columns: (1fr)[2];
      grid-template: repeat(7, 1fr)/repeat(2, 1fr);
  grid-auto-flow: column;
  grid-row-gap: 20px;
}

.TCAS-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.TCAS-cont--to-the-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 50px;
}

.TCAS-cont__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  text-align: right;
}

.TCAS-cont__left__square {
  height: 70px;
  width: 70px;
  border-radius: 6px;
  background-color: #1F2041;
}

.TCAS-cont__left__text-block {
  font-weight: normal;
  opacity: 25%;
}

.TCAS-cont__left__text-block p {
  font-family: Montserrat;
}

.TCAS-cont__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 365px;
          flex: 0 0 365px;
  background: #bdc3c7;
}

.TCAS-cont__right__title {
  letter-spacing: -.5px;
}

.TCAS-cont__right__title--body-head1 {
  max-width: 336px;
}

.TCAS-cont__right__text {
  font-weight: 400;
}

.dark-shade-total {
  opacity: 100%;
}

.dark-shade-almost-total {
  opacity: 75%;
}

.dark-shade-half {
  opacity: 50%;
}

.dark-shade-quater {
  opacity: 25%;
}

.dark-shade-light {
  opacity: 5%;
}

.purple {
  background: #BC9CFF;
}

.green {
  background: #6FCF97;
}
/*# sourceMappingURL=style.css.map */