@import ./_fonts
@import ./_variables
@import ./_glob-classes
  
body
  width: 1440px
  height: 900px
  margin: 0 auto
  display: grid
  grid-template-columns: 150px 1fr 191px
  grid-template-rows: 145px 1fr 145px
  color: $all-document-text-color

.wrapper
  grid-column: 2/3
  grid-row: 2/3
  display: grid
  grid-template: repeat(7,1fr) / repeat(2, 1fr)
  grid-auto-flow: column
  grid-row-gap: 20px

// //Блоки 
// .TCAS-cont
//   display: flex

// .TCAS-cont--to-the-right
//   justify-content: flex-end
//   margin-bottom: 50px

// //Левая часть блоков
// .TCAS-cont__left
//   flex: 0 0 70px
//   text-align: right

// //Левая часть блоков - Квадрат с цветом/прозрачностью
// .TCAS-cont__left__square
//   height: 70px
//   width: 70px
//   border-radius: 6px
//   background-color: $all-document-text-color

// //Левая часть блоков - Текст для блоков справа
// .TCAS-cont__left__text-block
//   font-weight: normal
//   opacity: $dark-shade-quater
// .TCAS-cont__left__text-block p
//   font-family: Montserrat

// //Правая часть блоков
// .TCAS-cont__right 
//   flex: 0 0 365px
//   background: #bdc3c7

// //Правая часть блоков - Заголовок и текст
// .TCAS-cont__right__title
//   letter-spacing: -.5px
  
// //Правая часть блоков - модификатор заголовка H1 правых блоков
// .TCAS-cont__right__title--body-head1
//   max-width: 336px


// //Правая часть блоков - модификатор заголовка H2 правых блоков
// .TCAS-cont__right__title--body-head2  

// //Правая часть блоков - модификатор заголовка H3 правых блоков
// .TCAS-cont__right__title--body-head3

// //Правая часть блоков - текст описания цвета
// .TCAS-cont__right__text
//   font-weight: 400
  
.dark-shade-total
  opacity: $dark-shade-total

.dark-shade-almost-total
  opacity: $dark-shade-almost-total

.dark-shade-half
  opacity: $dark-shade-half
  
.dark-shade-quater
  opacity: $dark-shade-quater

.dark-shade-light
  opacity: $dark-shade-light

.purple
  background: $purple

.green
  background: $green