@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/montserrat/bold700/Montserrat-Bold.eot");
  src: local("☺"), url("./fonts/montserrat/bold700/Montserrat-Bold.woff") format("woff"), url("./fonts/montserrat/bold700/Montserrat-Bold.ttf") format("truetype"), url("./fonts/montserrat/bold700/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/montserrat/regular400/Montserrat-Regular.eot");
  src: local("☺"), url("./fonts/montserrat/regular400/Montserrat-Regular.woff") format("woff"), url("./fonts/montserrat/regular400/Montserrat-Regular.ttf") format("truetype"), url("./fonts/montserrat/regular400/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url("./fonts/quicksand/bold700/Quicksand-Bold.eot");
  src: local("☺"), url("./fonts/quicksand/bold700/Quicksand-Bold.woff") format("woff"), url("./fonts/quicksand/bold700/Quicksand-Bold.ttf") format("truetype"), url("./fonts/quicksand/bold700/Quicksand-Bold.svg") format("svg");
  font-weight: 700;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url("./fonts/quicksand/regular400/quicksand-Regular.eot");
  src: local("☺"), url("./fonts/quicksand/regular400/Quicksand-Regular.woff") format("woff"), url("./fonts/quicksand/regular400/Quicksand-Regular.ttf") format("truetype"), url("./fonts/quicksand/regular400/Quicksand-Regular.svg") format("svg");
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Quicksand;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.875rem;
}

h2 {
  font-family: Quicksand;
  font-size: 1.1875rem;
  font-weight: bold;
  line-height: 1.5rem;
}

h3 {
  font-family: Montserrat;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.9375rem;
  text-transform: uppercase;
}

body {
  width: 1440px;
  height: 900px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9.375rem 1fr 11.9375rem;
      grid-template-columns: 9.375rem 1fr 11.9375rem;
  -ms-grid-rows: 9.0625rem 1fr 9.0625rem;
      grid-template-rows: 9.0625rem 1fr 9.0625rem;
  color: #1F2041;
}

.wrapper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[2];
      grid-template: 1fr/repeat(2, 1fr);
}

.TCAS-cont {
  width: 100%;
  height: 100%;
}

.TCAS-block {
  height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 27.125rem;
}

.TCAS-block__left--square {
  width: 4.375rem;
  height: 100%;
  background-color: #1F2041;
  border-radius: 6px;
}

.TCAS-block__left--text {
  width: 4.375rem;
  height: 100%;
  color: #1F2041;
}

.TCAS-block__right {
  padding-left: 2.5rem;
  padding-top: .625rem;
}

.TCAS-block__right p {
  font-family: Quicksand;
  font-size: 1.1875rem;
  font-weight: bold;
  line-height: 1.5rem;
  font-weight: normal;
  line-height: 2.0625rem;
  letter-spacing: -1px;
}

.TCAS-cont--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.TCAS-block--header-block {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dark-shade-total {
  opacity: 100%;
}

.dark-shade-almost-total {
  opacity: 75%;
}

.dark-shade-half {
  opacity: 50%;
}

.dark-shade-quater {
  opacity: 25%;
}

.dark-shade-light {
  opacity: 5%;
}

.purple {
  background: #BC9CFF;
}

.green {
  background: #6FCF97;
}
/*# sourceMappingURL=style.css.map */